body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    position: absolute;
    width: 517px;
    height: 600px;
    left: 461px;
    top: 155px;
    z-index: -5;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.form button {
    position: static;
    font-size: 36px;
    font-weight: bold;
    width: 407px;
    height: 57px;
    left: 516px;
    top: 649px;
    background: #F3A100;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 10%;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 75%;
    border: 15px;
    border-color: #535353;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: 10%;
    margin-top: 10%;
}

.rapor_kutu {
    width: 180px;
    height: 180px;
    top: 178px;
    border-radius: 50%;
    border: 10px solid #F3A100;
    box-sizing: border-box;
}

#pie-chart {
    height: 250px;
}

#bar-example {
    width: 50%;
}

.kutu_mavi {
    height: 27px;
    background: #0500F9;
}

.kutu_turuncu {
    height: 27px;
    background: #F3A100;
}

.kutu_gri {
    height: 27px;
    background: #C4C4C4;
    margin-bottom: 100px;
}

.kutu_lila {
    height: 27px;
    background: #918EFF;
}

.kutu_somon {
    height: 27px;
    background: #FDD18E;
}

.kutu_mor {
    height: 27px;
    background: #807FB4;
}

.graphic-x {
    transform: translateY(50%);
}

.liste {
    font-size: 24px;
    list-style-type: none;
}

.liste a {
    display: block;
    color: #000;
    padding: none;
    text-decoration: none;
}

.sehir {
    position: absolute;
    width: 800px;
    height: 200px;
    background: rgba(236, 236, 236, 0.6);
    border: 4px solid #F3A100;
    box-sizing: border-box;
    border-radius: 5px;
    padding-inline: 20px;
    overflow: scroll;
}

.eleman_bilgi {
    position: absolute;
    width: 800px;
    height: 500px;
    background: rgba(236, 236, 236, 0.6);
    border: 4px solid #F3A100;
    box-sizing: border-box;
    border-radius: 5px;
    padding-inline: 5px;
    overflow: scroll;
}

.search-container {
    position: absolute;
    width: 80%;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #4d4d4d;
    border-radius: 3px;
    width: 85%;
}

.search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(255, 255, 255);
    font-size: 17px;
    border: 1px solid#0500F9;
    border-radius: 3px;
    cursor: pointer;
}

.guncelle {
    float: right;
}

.guncelle button {
    width: 197px;
    height: 48px;
    background: #6DF900;
    border-radius: 4px;
    border: none;
    color: white;
}

.guncelle button:hover {
    background-color: white;
    color: black;
    border: 3px solid #6DF900;
}

.sil button {
    width: 197px;
    height: 48px;
    background: red;
    border-radius: 4px;
    border: none;
    color: white;
}